
<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @booking.room_id %>
</p>

<p>
  <strong>Booking start time:</strong>
  <%= @booking.booking_start_time %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
