<p>
  <h2>Welcome Administrator <%= current_user.name %>!</h2>
</p>
<h3>
  <br>
  <br>
  <%= link_to 'Edit My Profile', edit_user_path(current_user) %> <legend>(Edit your personal details)</legend><br><br>
  <%= link_to 'Manage Admins', manage_admins_users_url %><legend>(View list of admins, Create new admins, Delete non-super-admins)</legend><br><br>
  <%= link_to 'Manage Rooms', manage_rooms_url %><legend>(Add new rooms, View room schedule, Book rooms on behalf of a member)</legend><br><br>
  <%= link_to 'Manage Library Members', manage_members_users_url %><legend>(Add new rooms, View room schedule, Book rooms on behalf of a member)</legend><br><br>
</h3>
