<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<%= link_to 'Add a new room', new_room_path %>

<h2>Room List</h2>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Size</th>
      <th>Building</th>
      <th>Status</th>
      <th>Bookings</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.number %></td>
        <td><%= room.size %></td>
        <td><%= room.building %></td>
        <td><%= room.status %></td>
        <td><% room.bookings.each do |b| %><%= b.booking_start_time%><% end %></td>
        <td><%= link_to 'Show', room%></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h1>Welcome to Calendar</h1>
<div id="calendar"></div>

<%= link_to 'New Room', new_room_path %>
